.titulo{
    text-align: center;
}
.botaogit{
    text-align: center;
    background-color: blueviolet;
    color: cornsilk;
    border-radius: 35px;
    border-color: darkmagenta;
}
.containerflex{
    display: flex;
    align-items: center;
    justify-content: center;
}